.app-container {
  display: flex;
  height: 100vh;
  background-color: var(--bg-medium);
}

.content-wrapper {
  flex-grow: 1;
  transition: margin-left 0.3s ease;
}

.content-wrapper.sidebar-open {
  margin-left: 250px;
}

.content-wrapper.sidebar-closed {
  margin-left: 0;
}